{
    "rules": {
        "indent": [2, 4],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "no-trailing-spaces": [2],
        "space-before-function-paren": [2, "always"]
    },
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "extends": "eslint:recommended"
}